body {
	background-color: $lavender;
	max-width: 1980px;
	margin: 0 auto;
	padding-left: 20px;
	padding-right: 20px;
}

// *Buttons
.button {
	text-decoration: none;
	color: $dark;
	padding: 10px;
	border-radius: 4px;
	transition: 300ms;

	&:hover {
		background-color: $orange;
	}
}
	
