.contact {
	h2 {
		text-align: center;
	}

	&__container {
		display: flex;
		justify-content: space-evenly;
	}

	&__form {
		max-width: 640px;
	}

	&__googleFormContainer {
		overflow: hidden;
	}

	&__googleForm {
		position: relative;
		transition: 0.7s ease-out;
		overflow: hidden;
		left: -30px;

		// animation toggle
		&--animation {
			transform: translateY(-1000px);
		}
	}
}
