.contact {
	h2 {
		text-align: center;
	}

	&__container {
		display: flex;
		justify-content: space-evenly;
	}

	&__image {
		max-height: 66vh;

		img {
			width: 100%;
			object-fit: cover;
			max-height: 100%;
		}
	}

	&__form {
		max-width: 640px;
	}

	&__googleFormContainer {
		overflow: hidden;
	}

	&__googleForm {
		width: 640px;
		max-width: 100%;
		height: 800px;

		position: relative;
		transition: 0.7s ease-out;
		overflow: hidden;
		// left: -30px;

		// animation toggle
		&--animation {
			transform: translateY(-1000px);
			height: 0;
		}
	}
}
