.header {
	display: flex;
	margin-top: 1.2rem;

	ul {
		list-style: none;
		display: flex;
		padding-left: 2%;
	}

	&__mobileNavButton {
		display: none;
	}

	&__mobileNav {
		ul {
			flex-direction: column;
		}
	}

	&__mobileNavSocials a {
		font-size: 1.6rem;
		margin-left: 1rem;
		color: $white;

		&:hover,
		&:focus {
			color: $orange;
		}
	}

	h2 {
		margin: 1.2rem auto 10vh auto;
		text-align: center;
	}

	&__socialIcons {
		font-size: 1.3rem;
		margin-top: 0.6rem;
	}
}
