@media screen and (max-width: 1300px) {
	.home {
		&__bio {
			flex-direction: column-reverse;
			max-width: 880px;
		}

		&__bioImage {
			margin: auto;
		}

		h1 {
			line-height: normal;
			margin-top: -1.2rem;
		}
	}

	footer {
		position: absolute;
	}
}

@media screen and (max-width: 992px) {
}
@media screen and (max-width: 850px) {
	.header {
		flex-direction: column;
		&__desktopNav {
			display: none !important;
		}

		&__mobileNavButton {
			display: flex;
			margin-top: 5px;
		}
	}
}
@media screen and (max-width: 600px) {
}
