@media screen and (max-width: 1300px) {
	.home {
		&__bio {
			flex-direction: column-reverse;
			max-width: 880px;
		}

		&__bioImage {
			margin: auto;
		}

		h1 {
			line-height: normal;
			margin-top: -1.2rem;
		}
	}

	.works {
		&__eyecatchers {
			flex-direction: column;
		}

		&__thumbnail {
			margin: 0 auto;
			max-width: 66vw;
			padding: auto;

			p {
				font-size: 1.6rem;
				text-align: center;
				line-height: 1.4rem;
			}
		}
	}

	.contact {
		&__container {
			flex-direction: column-reverse;
		}

		&__form {
			margin: 0 auto;
		}

		&__image {
			margin: 0 auto;
		}
	}

	footer {
		position: absolute;
	}
}

@media screen and (max-width: 992px) {
}
@media screen and (max-width: 850px) {
	.header {
		flex-direction: column;

		&__desktopNav,
		&__socialIcons {
			display: none !important;
		}

		&__mobileNavButton {
			display: inline-block;
			position: absolute;
			left: 0;
			font-size: 2rem;
		}

		&__mobileNavCloseButton {
			display: inline-block;
		}

		&__mobileNav {
			position: absolute;
			left: 0;
			z-index: 10;
			background-color: $olive;
			font-size: 2rem;
			line-height: 3rem;
			border-radius: 8px;

			.button {
				color: $lavender;
				margin-right: 20px;

				&:hover {
					color: $dark;
				}
			}
		}
	}
}
@media screen and (max-width: 600px) {
	.header {
		h2 {
			margin-top: 2rem;
		}
	}

	.works__thumbnail p {
		font-size: 1.2rem;
	}
}
